
.year-diagram svg:nth-child(2) {
  display: none;
}

/* no script tag */
.no-script {
  font-weight: bold;
  font-size: 120%;
  color: white;
  background-color: #464650;
  padding: 5px 0;
  margin-top: 11vh;
  text-align: center;
}

/* fix z-index of legend modal */
#legend-box-modal {
  z-index: 0 !important;
  opacity: 1;
}

g.node .labelNode {
  cursor: default;
}

dl, ol, ul {
  margin-top: 3px;
  margin-bottom: 1rem;
}

.globan-invalid-domain {
    display: none !important;
}
